.footer {
    background-color: $color-grey-dark-1;
    width: 100%;

    &__copyright {
        text-align: center;
        color: $color-white;
        font-size: 1.4rem;
        padding: .5rem;
    }
}