*,
*::after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    height: 100%;
    // Defines what 1 rem is for creating responsive later
    font-size: 62.5%; // sets from default 16px to 10px
    
    @media only screen and (max-width: $bp-lg) {
        font-size: 50%;
    }
}

body {
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
