<%- include('../partials/header.ejs') %>
<main class="main">
    <div class="about">
        <h1 class="heading-primary">About Cocktail Notes</h1>
        <img src="/img/cocktail-notes-logo.png" alt="Cocktail Notes Logo" class="team__img">
        <p class="about__description">
            Joel is a junior software developer in the Seattle area. After graduating with his bachelors from
            Green River College, he took a job at a small development company working in PHP and JavaScript. Today,
            his's sites are on CodeFellows where he plans to sharpen his skills and launch his career.
        </p>
    </div>
</main>
<%- include('../partials/footer.ejs') %>
