<%- include('../partials/header.ejs') %>
<main class="main">
    <div class="main-content">
        <h1 class="heading-primary"><%= title %></h1>

    </div>
</main>
<%- include('../partials/footer.ejs') %>
