
.hidden { display: none; }   

.error { color: red; }

.required { background-color: pink; }

textarea {
    width: 100%;
    resize: none;
}

.main {
    margin-top: 2rem;
    flex-grow: 1;
}

/* ----- index page ----- */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    & > img {
        margin-top: -2rem;
    }
}


/* ----- info pages ----- */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    &__img {
        width: 225px;
        margin-bottom: 3rem;
    }

    &__description {
        font-size: 2rem;
    }

    &__social {
        margin-top: 4rem;

        & > a:link,
        & > a:visited {
            color: $color-primary;
        }

        & > a:active,
        & > a:hover {
            color: $color-primary-light;
        }
    }
}

/* ----- search page ----- */

.search {
     & > form {
         padding: 1rem 0;
         border-bottom: 1px solid $color-grey-light-2;
     }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        height: 10rem;
        font-size: 2rem;
        margin: 1rem 0;
        padding: 1rem 0;

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-2;
        }
    }

    &__img {
        height:100%;
        margin-right: 1rem;
    }

}


/* ----- tasting notes page ----- */

.notes {

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__modal {
        position: fixed;
        bottom: 5rem;
        right: 2.5rem;
    }

    &__icon {
        width: 10rem;
        height: 10rem;
        color: $color-primary;
    }
}

.note {
    text-align: center;
    background-color: $color-white;
    margin-bottom: 2rem;

    &__side {
        width: 25rem;
        height: 32rem;
        border-radius: $border-radius-small;
        overflow: hidden;
        box-shadow: $box-shadow-small-high;
    }

    &__name {
        font-size: 2rem;
    }

    &__rating {
        font-size: $default-font-size;
        color: $color-primary;
    }

    &__img {
        width: 25rem;
    }

    &__text {
        font-size: $default-font-size;
    }
}

.note.turn .note__side--front {
    transform: rotateY(-180deg);
}

.note.turn .note__side--back {
    transform: rotateY(0);
}