
.hidden { display: none; }   

.error { color: red; }

.required { background-color: pink; }

textarea {
    width: 100%;
    resize: none;
}

.main {
    margin-top: 2rem;
    flex-grow: 1;
}

/* ----- index page ----- */


/* ----- about page ----- */


/* ----- team page ----- */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 275px;
        margin-bottom: 3rem;
    }

    &__description {
        font-size: 2rem;
        width: 80%;
    }

    &__social {
        margin-top: 2rem;
    }
}

/* ----- tasting notes page ----- */

//.section-notes {
//    background-color: $color-grey-light-1;
//
//    & h2 {
//        text-align: center;
//    }
//
//    & .notes {
//        margin: 0 15rem;
//
//        &__box {
//            display: grid;
//            height: 32rem;
//            grid-template-columns: repeat(3, 1fr);
//            grid-row-gap: 5rem;
//            justify-content: space-around;
//            justify-items: center;
//        }
//    }
//
//    .note {
//        text-align: center;
//        background-color: $color-white;
//        position: relative;
//        cursor: pointer;
//
//        &__side {
//            width: 25rem;
//            height: 32rem;
//            transition: all .8s ease;
//            position: absolute;
//            top: 0;
//            left: -12rem;
//            backface-visibility: hidden;
//            border-radius: $border-radius-small;
//            overflow: hidden;
//            box-shadow: $box-shadow-small-high;
//
//            &--front {
//
//            }
//
//            &--back {
//                transform: rotateY(180deg);
//                width: 25rem;
//                height: 100%;
//            }
//        }
//
//        &__name {
//            font-size: 2rem;
//        }
//
//        &__rating {
//            font-size: $default-font-size;
//            color: $color-primary;
//        }
//
//        &__img {
//            width: 25rem;
//
//        }
//
//        &__text {
//            font-size: $default-font-size;
//        }
//    }
//}
//.note.turn .note__side--front {
//    transform: rotateY(-180deg);
//}
//
//.note.turn .note__side--back {
//    transform: rotateY(0);
//}