<footer class="footer">
    <p class="footer__copyright">&copy; Cocktail Notes by Joel Watson 2020</p>
</footer>
<!-- jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<!-- jQuery Modal -->
<script src="https://cdn.jsdelivr.net/npm/jquery-modal@0.9.2/jquery.modal.min.js"></script>
<!-- Our Script -->
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
